---
- name: Create ServiceNow Change Request
  servicenow.itsm.change_request:
    type: normal
    short_description: "{{ cr_description }}"
    description: "{{ owner | default('Shadowman') }} requests {{ operating_system | default('') }} server in {{ shadowman_provision_hypervisor | default('') }} with name {{ vm_name | default('') }} and environment {{ env | default('test') }}"
    priority: high
    risk: moderate
    impact: low
    assignment_group: "CAB Approval"
    state: assess
  register: request
  delegate_to: localhost

- name: Pass along request information
  ansible.builtin.set_stats:
    data:
      request: "{{ request }}"
    per_host: false
  delegate_to: localhost

- name: Send Approval e-mail
  community.general.mail:
    host: "{{ EMAIL_HOST }}"
    username: "{{ EMAIL_USERNAME }}"
    password: "{{ EMAIL_PASSWORD }}"
    port: "{{ EMAIL_PORT }}"
    subject: "Approval request for ServiceNow Change Request {{ request.record.number }}"
    body: "You have a new CR Approval request. Please click on this URL to approve: {{ lookup('env', 'SN_HOST') }}nav_to.do?uri=change_request.do?sysparm_query=number={{ request.record.number }}"
    from: tower@shadowman.dev
    to: "{{ to_email }}"
  delegate_to: localhost

- name: Wait for Change Request approval
  servicenow.itsm.change_request_info:
    number: "{{ request.record.number }}"
  until: change_request_status.records[0].state == "scheduled"
  retries: 50
  delay: 10
  register: change_request_status
  delegate_to: localhost

- name: Update to implement the change request in ServiceNow
  servicenow.itsm.change_request:
    state: implement
    number: "{{ request.record.number }}"
    assignment_group: "CAB Approval"
  delegate_to: localhost
