include README.md
include *.yml
include *.gitignore
include .vscode/extensions.json
include devfile.yaml
include .config/ansible-lint.yml
include .github/workflows/ansible-lint.yml
include .github/workflows/web-ide.yml
include .github/ansible-code-bot.yml
include *.code-workspace
recursive-exclude .git *
recursive-include collections *.yml
recursive-include roles *
recursive-include SNOWSetup *
